<head>
	<title>ESC Participation Tracker</title>
	<%= stylesheet_link_tag "static_pages", media: "all" %>
</head>

<div class="div-1">
	<body>
		<div class="row">
			<div class="col" style="border-right: 1px solid #fff">
				<h1>About the App</h1>
			</div>
			<div class="col">
				<h1>More about ESC</h1>
			</div>
		</div>
		<div class="row">
			<div class="col" style="border-right: 1px solid #fff">
				<p class="paragraph-1">
					Howdy and welcome to the ESC Participation Tracker Homepage! <br/>
					This app was created to provide ESC members with a platform with which they can view organization
					events and RSVP to attend. You can view all events posted by the organization under the View Events
					List tab which is like a feed of events. Each event has a set of tabs that tell you more about the event.
					These tabs provide a date, time, location (Date and Location), and description (Description) of each
					event, whether or not you signed up or attended the event (Attendance), and actions you can take for each event:
					show details and join/leave (Actions).
				</p>
			</div>
			<div class="col">
				<p class="paragraph-1">
					Visit the Engineers Serving the Community (ESC) public profile
					<a href="https://stuactonline.tamu.edu/app/organization/profile/public/id/1669"> here</a>.<br/>

			</p>
			</div>
		</div>
	</body>
</div>
