// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{background-image: url("zachary.jpg"); background-size: cover; background-repeat: no-repeat;}

.div-1 {background: rgba(0,0,0,.5); padding: 20px;  color: #ffffff;}
.paragraph-1 {padding-top: 10px;}
